APP_TITLE=ИС учета покупки посадочного материала
DATABASE_URL=
DB_DRIVER=postgresql+psycopg
DB_HOST=localhost
DB_PORT=5432
DB_NAME=planting_material_accounting
DB_USER=postgres
DB_PASSWORD=postgres
APP_INIT_WITH_SEED=true
